name: prettier
on:
  push:
    # branches:
    #   - "*"
    branches-ignore:
      - "prettier-code"
      - "renovate/*"
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  prettier:
    if: github.base_ref == github.ref || !contains(fromJson('["prettier-code", "renovate/"]'),github.head_ref)
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
      pull-requests: write
      actions: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}
          # This is important to fetch the changes to the previous commit
          fetch-depth: 0
          token: ${{ secrets.PRETTIER }}

      - name: Prettify code
        uses: creyD/prettier_action@v4.3
        with:
          # This part is also where you can pass other options, for example:
          prettier_options: --write . --ignore-path .prettierignore --ignore-unknown
          only_changed: True # only run on new commits

      - uses: peter-evans/create-pull-request@v7
        with:
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          title: "Prettier code"
          body: "The following changes will make your code prettier."
          branch: prettier-code
          delete-branch: true
          commit-message: "style: prettier"
          token: ${{ secrets.PRETTIER }}
